<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.autumn.failsafereboot">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FailSafeReboot"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name=".LoginScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".NewUserActivity"
            android:label="Create New User"/>
        <activity android:name=".MainScreenActivity"/>
        <activity android:name=".AddClassActivity"/>

    </application>

</manifest>
